body, html {
    overflow: hidden; /* Stop entire div having scrolling ability */
    /* James' little tricks to make it nicer */
    -webkit-user-select: none;
    -webkit-font-smoothing: antialiased;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-text-size-adjust: none;
}

body {
	background: #22366b;
	color: #FFF;
	margin: 0;
	font:normal 300 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-backface-visibility: hidden;
    height: 100%;
    width: 100%;
}

/* APPLICATION HEADER */

header {
	background: #188ece;
	width: 100%;
	margin: 0;
    position:fixed;
    top: 0;
    z-index: 5000;
}
header h1 {
	margin: 0;
    padding: 0;
	text-align: center;
	font:normal 600 22px "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 40px;
	height: 40px;
	text-shadow:1px 0 1px #111;
	text-transform: uppercase;
}

header ul.header_navigation {
    margin: 0;
    padding: 0;
    list-style: none;
    margin: 5px 5px 0 0;
    position: absolute;
    top: 0;
    right: 0;
}

header ul.header_navigation li {
    background:  #22366b;
    border-radius: 5px;
    float: left;
    font-size: 20px;
    line-height: 20px;
    padding: 5px;
}

header ul.header_navigation li a {
    color: #fff;
    text-decoration: none;
    display: block;
    height: 100%;
    width: 100%;
}

header ul.header_navigation li span {
    display: block;
    width: 100%:
    height: 100%
}

/* APPLICATION FOOTER */

footer {
	background: #188ece;
	bottom: 0;
    position:fixed;	
    width: 100%;
    z-index: 9999;
}

footer nav {
	height: 50px;
	margin: 5px auto 2px auto;
	width: 325px;
}
footer nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
footer nav ul li {
	float: left;
	display: inline;
	text-shadow:1px 0 1px #111;
    width: 20%;
    text-align: center;
}
footer nav ul li a span.icon {
    font-size: 30px;
    display: block;
    line-height: 30px;
    text-align: center;
}


footer nav ul li a{ 
    color: #fff;
    text-decoration: none;
}

/* LOGIN SCREEN */

#login_container {
	margin-top: 50%;
	top: -159px;
	position: absolute;
	width: 100%;
	overflow: hidden;
}

#login_container img {
	margin-left: 50%;
	left: -100px;
	position: relative;
}

/* CONTENT STRUCTURING */

#content {
    overflow:auto;
    overflow-x: hidden;
    top: 40px;
    bottom: 57px;
    position: fixed;
    -webkit-overflow-scrolling: touch;
    width: 100%;
}

#content.nofooter {
	bottom: 0;
}

/* FORM STYLING */

form fieldset {
    margin: 8px;
    width: auto;
}

form fieldset label {
    padding: 8px 0px;
    display: inline-block;
    font-weight: bold;
    text-transform: uppercase;
}
form fieldset input, form fieldset select, form fieldset button, .button, form fieldset textarea {
	border: none;
	display: block;
	padding: 8px;
	background: #0e62a1;
    border-radius: 0;
    -webkit-appearance: none;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 5px;
    outline: none;
    color: #fff;
    font-weight: bold;
    -webkit-appearance: no;
    text-align: center;
}

a.button {
    text-decoration: none;
    cursor: pointer;
}
.button.red {
    background: #c13c3c;
}

.button.lightblue {
    background: #69bfea;
}

form fieldset input[type="checkbox"] {
	-webkit-appearance: checkbox;
}

form fieldset input[type="radio"] {
	-webkit-appearance: radio;
}

form fieldset input[type="submit"] {
	margin-top: 20px;
	background: #69bfea;
}

form fieldset input[type="submit"], form fieldset button {
	margin-top: 20px;
	background: #69bfea;
}


/* DASHBOARD */

ul.timescale_selector {
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
}

ul.timescale_selector {
  overflow: auto;
}

ul.timescale_selector li {
    float: left;
    overflow: hidden;
    width: 33%;
    height: 20px;
    line-height: 20px;
    text-transform: uppercase;
    font-weight: bold;
    background: #0e62a1;
    text-align: center;
    border-bottom: 3px solid #0e62a1;

}

ul.timescale_selector li a {
    text-decoration: none;
    color: #fff;
    display: block;
    width: 100%;
    height: 100%;
}

ul.timescale_selector li:first-child {
    border-bottom: 3px solid #69bfea;
}


ul.timescale_selector li:last-child {
    width: 34%;
}

.percentage_label.first {
    margin: 10px 0 0 0;
}


.percentage_label {
    margin: 0;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0;
}

.percentage_bar {
    width: 100%;
    height: 30px;
    background: #0e62a1;
    margin: 10px 0;
}

.percentage_bar div {
    background: #69bfea;
    height: 100%;
    line-height: 30px;
}


/* FEED */ 

ul.feed_list {
	list-style: none;
	margin: 0;
	padding: 0;
}

ul.feed_list li:nth-child(odd) {
	background: #22366b;
}

ul.feed_list li:nth-child(even) {
	background: #0e62a1;
}

ul.feed_list li h3, ul.feed_list li p {
	margin: 0;
	padding: 5px;
}

ul.feed_list li a {
	display: block;
	color: #fff;
	text-decoration: none;
}

/* ACHIEVEMENTS */

ul.achievement_list {
	list-style: none;
	margin: 0;
	padding: 0;
}
ul.achievement_list li:nth-child(odd) {
	background: #22366b url(../images/achievements.png) center left no-repeat;
	padding-left:30px;
}

ul.achievement_list li:nth-child(even) {
	background: #0e62a1 url(../images/achievements.png) center left no-repeat;
	padding-left:30px;
}

ul.achievement_list li h3, ul.achievement_list li p {
	margin: 0;
	padding: 5px;
}

ul.achievement_list li a {
	display: block;
	color: #fff;
	text-decoration: none;
}

/* SOCIAL ZONE */

/* FEED */ 

ul.social_feed {
	list-style: none;
	margin: 0;
	padding: 0;
}

ul.social_feed li {
    overflow: auto;
}

ul.social_feed li:nth-child(odd) {
	background: #22366b;
}

ul.social_feed li:nth-child(even) {
	background: #0e62a1;
}

ul.social_feed li h3, ul.social_feed li p {
	margin: 0;
	padding: 5px;
}

ul.social_feed li img {
    float: left;
    width: 50px;
    height: 50px;
    border: #fff 3px solid;
    margin: 10px;
    v-align: center;
}

ul.social_feed li a {
	display: block;
	color: #fff;
	text-decoration: none;
}

/* Questionnaire */

form fieldset.questionnaire_answer label {
	display:block;
	float: left;
	padding:8px 10px 8px 20px;
	box-sizing: border-box;
	float: left;
}

form fieldset.questionnaire_answer input[type="radio"] {
	float: right;
	margin:8px 0px;
	width: auto;
}


form p.questionnaire_question {
	clear: both;
	font-weight: bold;
	text-transform: uppercase;
	padding: 0px 10px;
}

/* Other */

.descriptive-text {
    padding: 8px;
    font-weight: bold;
}

.form-helper {
    font-style: italic;
    margin: 5px 0;
}

.center {
    text-align: center;
}

/* Pop up alert */

.dim {
    background: #000;
    z-index: 20;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    -moz-opacity: 0.50;
    opacity: 0.50;
    filter: alpha(opacity=50);
    z-index: 9997;
}
.modal-box {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #000;
    width: 90%;
    height: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -45%;
    margin-top: -100px;
    z-index: 9998;
}
.modal-box h2 {
	padding: 0;
	font-size: 16px;
	text-align: center;
	font-weight: bold;
}
.modal-box .button_container {
	margin: 8px;
}
.modal-box button {
    border: none;
	display: block;
	padding: 8px;
    margin: 0 auto;
	margin-top: 20px;
	background: #69bfea;
    border-radius: 0;
    -webkit-appearance: none;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 5px;
    outline: none;
    color: #fff;
    font-weight: bold;
    -webkit-appearance: no;
}

span.modal-remove {
    float:right;
    font-size: 20px;
    margin: 0 10px 0 0;
    cursor: pointer;
}

.modal-box p {
	padding: 0 10px;
	font-style:italic;
    text-align:center;
}

.hide {
	display: none;
}
